/** Variables Import **/
@import url('./variables.css');

/**
 * CSS Reset
 * Source: https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background: var(--clr-lightGrayishBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full screen height */
  max-width: 100vw;
  margin: 0;
  position: relative;
  padding-bottom: 2rem; /* space for the attribution */
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Global CSS **/
/* We recommend writing minimal component-specific CSS here */
.app-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: auto;
  max-width: 70rem;
  max-height: 25rem;
  min-height: 0;
  min-width: 0;
  font-family: var(--ff-base);
  font-size: var(--font-paragraph);
  font-weight: var(--fw-regular);
}

.attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 6px;
  }
  .app-container {
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: none;
  margin: auto;
  max-width: 35rem;
  max-height: 50rem;
  min-height: 0;
  min-width: 0;
  }
}
